body {
  /* https://www.toptal.com/designers/subtlepatterns/ep-natural-black/ */
  background: #141414 url("ep_naturalblack.png");
  color: #11BDFF;
  padding: 20px;
  font-size: 22px;
  line-height: 1.4
}

a {
  color: #FF35DC;
}

p, h2 {
  margin-bottom: 1.5em;
}

h1, h2 {
  color: #05FC29;
  font-size: 22px;
  font-weight: normal;
  margin-top: 0;
}

h1 {
  margin-bottom: 2em;
}

h1:before {
  content: "= ";
}

h1:after {
  content: " =";
}

h2:before {
  content: "- ";
}

h2:after {
  content: " -";
}


main {
  margin: 0 auto;
  max-width: 700px;
  font-family: monospace;
}

@-webkit-keyframes blink { from { opacity: 0; } to { opacity: 100%; } }
@-moz-keyframes blink { from { opacity: 0; } to { opacity: 100%; } }
@-o-keyframes blink { from { opacity: 0; } to { opacity: 100%; } }
@keyframes blink { from { opacity: 0; } to { opacity: 100%; } }

#cursor {
  display: inline-block;
  width: 14px;
  height: 24px;
  background-color: #11BDFF;
  margin-bottom: -2px;

  -webkit-animation: blink .5s linear 0s infinite alternate;
  -moz-animation: blink .5s linear 0s infinite alternate;
  -o-animation: blink .5s linear 0s infinite alternate;
  animation: blink .5s linear 0s infinite alternate;
}
